[flake8]
max_complexity = 10
ignore = E203, W503, E713, E501
# E203, E501, and W503 are ignored as they conflict with Black 
exclude = .github,
    .pytest_cache,
    cdisc_rules_engine/resources,
    venv,
    build,
    dist
