[flake8]
max-line-length = 120
max_complexity = 10
ignore = W503, E713, E501
extend-ignore = E203
exclude = .github,
    .pytest_cache,
    cdisc_rules_engine/resources,
    venv,
    build,
    dist
