CDISC_LIBRARY_API_KEY=your_api_key_here
DATASET_SIZE_THRESHOLD=10485760  # max dataset size in bytes to force dask implementation
MAX_REPORT_ROWS = 10  # integer for maximum number of issues per excel sheet (plus headers) in result report.  Defaults to 10000.
MAX_ERRORS_PER_RULE = (10, True)  # Tuple for maximum number of errors to report per rule during a validation run. Also has a per dataset flag described as second bool value in readme. example value 
