business_rules_enhanced==1.4.8
cachetools==6.1.0
cdisc-library-client==0.1.6
click==8.1.7
dask[dataframe]==2024.6.0
dask[array]==2024.6.0
fastparquet==2024.2.0
importlib-metadata==8.5.0
jsonata-python==0.6.0
jsonpath-ng==1.6.1
jsonschema==4.18.5
lxml==5.2.1
numpy~=1.26.0
odmlib==0.1.4
openpyxl==3.1.5
pandas==2.1.4
psutil==6.1.1
pyinstaller==6.11.0
Pympler==1.1
pyreadstat==1.2.7
python-dotenv==1.0.0
pyyaml==6.0.2
redis==4.5.0
requests~=2.32.3
setuptools~=75.6.0
