name: CI
on: pull_request
jobs:
  lint_format:
    uses: ./.github/workflows/lint_format.yml
  test_unit:
    uses: ./.github/workflows/test_unit.yml
  test_suite:
    uses: ./.github/workflows/test_suite.yml
    secrets: inherit
  rule_tester:
    if: github.event.action == 'opened'
    uses: ./.github/workflows/rule-tester.yml
    secrets: inherit
    with:
      environment: DEV
  test_rule_editor_preview:
    if: github.event.action == 'opened'
    needs: rule_tester
    uses: ./.github/workflows/test_rule_editor_preview.yml
    secrets: inherit
