name: Update PR branches

on:
  push:
    branches:
      - main

jobs:
  autoupdate:
    name: autoupdate
    runs-on: ubuntu-22.04
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PR_FILTER: "all"
          PR_READY_STATE: "ready_for_review"
          MERGE_MSG: "Auto-updated branch with latest changes from main"
          RETRY_COUNT: "2"
          RETRY_SLEEP: "60000"
          MERGE_CONFLICT_ACTION: "fail"
